global
    log stdout format raw local0

defaults
    log global
    mode tcp
    option tcplog
    timeout connect 5s
    timeout client 30m
    timeout server 30m
    timeout check 5s

frontend postgres_primary
    bind *:5000
    default_backend patroni_primary

backend patroni_primary
    option httpchk GET /primary
    http-check expect status 200
    server db1 db1:5432 check port 8008 inter 2s fall 3 rise 2
    server db2 db2:5432 check port 8008 inter 2s fall 3 rise 2

frontend postgres_replicas
    bind *:5001
    default_backend patroni_replicas

backend patroni_replicas
    balance roundrobin
    option httpchk GET /replica
    http-check expect status 200
    server db1 db1:5432 check port 8008 inter 2s fall 3 rise 2
    server db2 db2:5432 check port 8008 inter 2s fall 3 rise 2
